.fotos {
    height: 500px;
    align-items: center;
    background-image: url("https://www.omnihotels.com/-/media/images/hotels/loudtn/hotel/loudtn-omni-louisville-fitness-center.jpg?h=660&la=en&w=1170");
    background-size:cover  ;
}
